.list{
    list-style: none;
    display: flex;
    gap:3%;
    text-transform: uppercase;
    align-content: center;   
}


.container {
    position: relative;
  }
  
.image {
    display: block;
    height: auto;
  }
  
.overlay {
    position: absolute; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
  }
.overlay1 {
      position: absolute; 
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      color: #f1f1f1; 
      transition: .5s ease;
      opacity:0;
      color: white;
      font-size: 20px;
      text-align: center;
    }
  
.container:hover .overlay {
    opacity: 1;
  }